
@{
    ViewBag.Title = "Inventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/app/stocks.js"></script>
<h2>Inventory</h2>
<div id="stockChartContainer" style="height: 370px; width: 100%;"></div>

<button  type="button" class="btn btn-default" id="btnResetStocks" title="Reset Stocks" data-success="Stocks refreshed!" data-error="Error encountered. Please check console logs.">Reset Stocks</button>

